@import "../../styles/imports.scss";

.containerProduct {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 10px;
  div {
    h2 {
      margin-left: 25px;
    }
  }
  .containerContentProduct {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    .containerImage {
      width: 550px;
      height: 400px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .containerDescription {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .descriptionProductA {
        width: 500px;
      }
      .btnContainer {
        display: flex;
        gap: 25px;
        button {
          padding: 10px;
          border-radius: 2px;
        }
        .column {
          display: flex;
          flex-direction: column;
          gap: 15px;
          .buy {
            background-color: $green400;
            color: $white;
            font-weight: bold;
            font-size: $font-16;
            transition: transform 0.2s;
            &:hover {
              transform: scale(1.1);
            }
          }
          .addCart {
            background-color: $blue500;
            color: $white;
            font-size: $font-16;
            transition: filter 0.2s;
            &:hover {
              @include efectsHover;
            }
          }
          .removeProduct {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $red500;
            color: $white;
            &:hover {
              @include animationScale;
            }
          }
          .editProduct {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $blue200;
            color: $white;
            &:hover {
              animation: move linear 0.4s;
            }
          }
        }
      }
    }
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}
