@import "../../styles/imports.scss";

.Container-Header {
  @include flexBetween;
  flex-wrap: wrap;
  padding: 20px 30px;
  gap: 10px;
  .containerTitleShop {
    display: flex;
    align-items: center;
    gap: 10px;
    h3 {
      color: $white;
      font-family: $montserrat;
    }
    svg {
      width: 35px;
      height: 35px;
      color: $purple400;
    }
  }
  .navigation {
    flex-shrink: 1;
    nav {
      display: flex;
      gap: 15px;
      a {
        text-decoration: none;
        color: $white;
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: $montserrat;
      }
    }
  }
}
